# Cloudflare Configuration
# 1. Login to Cloudflare -> Dashboard -> Copy 'Account ID' from the right sidebar
CLOUDFLARE_ACCOUNT_ID=9c70971f156e1eb3c4989616768d20ce

# 2. My Profile -> API Tokens -> Create Token -> Custom Token
# Permissions: Account -> Workers KV Storage -> Edit
CLOUDFLARE_API_TOKEN=cfat_h0y58zKDfNlfefG081zT05DRnXmafzlfgW3cAPss9a7c85bc

# 3. Workers & Pages -> KV -> Your Namespace ID
CLOUDFLARE_NAMESPACE_ID=342dba0c747f472cbb59a20c6e919e31

# Other
JWT_SECRET=Kosrat_Mama_@@92
